*{
  list-style: none !important;
}
.containerGrid{
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
}
.containerProject{
  width: 200px; height: 300px;
  overflow: hidden;
  filter: grayscale(100);
  transition: .2s ease;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  position: relative;
}
.containerProject figure img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.containerProject:hover{
  filter: grayscale(0);
  transition: .3s ease;
  transform: scale(1.2);
}
.containerProject div{
  width: 100%;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0; left: 0;
  background: #000000d8;
  color: white;
  margin-bottom: -200px;
  transition: .3s ease-in-out;
}
.containerProject:hover div{
  margin-bottom: 0;
  transition: .3s ease-in-out;
}
.containerProject div ul li{
  list-style: circle;
  font-size: .8rem;
}