.containerThird{
    width: 100%; height: 100%;
    display: flex;
    overflow: hidden;
    position: absolute;
    z-index: 4;
    background: $clr-bg;
    clip-path: circle(0% at 0% 50%);
    transition: .8s ease-in-out;
    @media (max-width:$laptop) {
        height: 700px;
    }
        @media (max-width:$mobile) {
            margin-top: 150px;
        }
        & .containerThird__subtitle{
            height: 50px;
            padding-top: 20px;
            margin-left: 150px;
            color: $black;
            z-index: 5;
                @media(max-width: $laptop){
                    margin-left: 40px;
                }
                @media(max-width: $tablet){
                    margin-left: 20px;
                }
                @media(max-width: $mobile){
                    
                }
        }
        & .containerThird__brace{
            color: $clr-orange;
        }
        & .containerThird__container{
            max-height: 1500px;
            position: absolute;
            display: grid;
            width: calc(100% - 70px); height: 100%;
            margin-left: 70px;
            @media(max-width: $laptop){
                margin-left: 0px;
                width: 100%;
            }
                @media(max-width: $tablet){
                    margin-left: 0px;
                    width: 100%;
                }
        }
        & .galleryProjects{
            width: 100%; height: 100%;
            position: relative;
            & .galleryProjects__containerMaster:nth-child(2){
                opacity: 0;
                z-index: 1;
            }
            & .galleryProjects__containerMaster:nth-child(3){
                opacity: 0;
                z-index: 1;
            }
                & .galleryProjects__containerMaster{
                    position: absolute;
                    width: 100%; height: 100%;
                    max-width: 2500px;
                    display: flex;
                    float: left;
                    transition: .2s ease;
                    & .galleryProjects__container{
                        width: 100%; height: 100%;
                        display: grid;
                        grid-template-columns: auto auto auto;
                        grid-gap: 15px;
                        padding: 80px;
                        float: left;
                            @media (max-width:$laptop) {
                                gap: 10px;
                            }
                            @media(max-width: $mobile){
                                gap: 5px;
                            }
                            & .galleryProjects__box{
                                background: $white;
                                width: 100%; height: 100%;
                                box-shadow: 0px 5px 7px 0px $black-5a;
                                border-radius: 20px;
                                overflow: hidden;
                                cursor: pointer;
                                transition: .2s ease-in-out;
                                    & .galleryProjects__img{
                                        width: 100%; height: 100%;
                                        object-fit: cover;
                                        transition: .2s ease-in-out;
                                        &:hover{
                                            transform: scale(1.05);
                                            transition: .2s ease-in-out;
                                        }
                                    }
                            }
                            & .galleryProjects__box:nth-child(1){
                                grid-column-start: span 2 !important;
                                @media(max-width: $mobile){
                                    grid-column-start: span 3 !important;
                                }
                            }
                            & .galleryProjects__box:nth-child(2){
                                grid-row-start: span 2 !important;
                                @media(max-width: $mobile){
                                    grid-column-start: span 3 !important;
                                }
                            }
                            & .galleryProjects__box:nth-child(3){
                                @media(max-width: $mobile){
                                    display: none;
                                }
                            }
                            & .galleryProjects__box:nth-child(4){
                                @media(max-width: $mobile){
                                    display: none;
                                }
                            }
                    }
                }
            }
            .gallerySlider--active{
                opacity: 1 !important;
                z-index: 7 !important;
                margin-left: 0px;
                transition: .2s ease-in-out;
            }
            .gallerySlider--mainActive{
                opacity: 1 !important;
                z-index: 6 !important;
                transition: .2s ease-in-out;
            }
            .gallerySlider--noActive{
                opacity: 0 !important;
                transition: .1s ease-in-out;
            }
        & .boxBottons{
            position: absolute;
            right: 0; bottom: 0;
            width: 60px; height: 60px;
            background: $black-5a;
            fill: $white;
            border-top-left-radius: 15px;
            z-index: 9;
                @media(max-width: $mobile){
                    width: 65px;
                }
            & .boxBottons__arrowLeft , & .boxBottons__arrowRight{
                width: 30px; height: 30px;
                margin-top: 15px;
                cursor: pointer;
                margin-left: 6px;
                    &:hover{
                        fill:$clr-main;
                    }
                    @media(max-width: $mobile){
                        margin-left: 12px;
                    }
            }
            & .boxBottons__arrowRight{
                margin-left: 17px;
            }
        }
}
.showSection3{
    clip-path: circle(100% at 50% 50%);
    transition: .8s ease-in-out;
    transition-property: clip-path;
}