.containerFirst{
    min-width: 100%; min-height: 100%;
    max-width: 2500px;
    margin: auto;
    bottom: 0;
    position: absolute;
    z-index: 2;
    margin-top: -25px;
    margin-left: 0px;
    clip-path: circle(100% at 50% 50%);
    transition: .8s ease-in-out;
    background: $clr-bg;
    overflow: hidden;
    transition-property: clip-path;
    @media(max-width: $laptop){
            max-height: 600px;
        }
        @media(max-width: $mobile){
            max-height: 100vh;
        }
    & .title{
        position: absolute;
        margin-left: 150px;
        margin-top: 150px;
        width: 356px;
        @media(max-width: $laptop){
            margin-top: 150px;
            margin-left: 50px;
        }
            @media(max-width: $mobile){
                margin-left: 20px;
            }
    }
    & .title__profession{
        font-family: 'Poppins';
        color: $clr-red;
        @media(max-width: $mobile){
            margin-top: 250px;
            font-size: 20px;
        }
    }
    & .title__brace{
        color: $clr-orange;
        @media(max-width: $mobile){
                font-size: 20px;
            }
    }
    & .containerName{
        position: relative;

        & .containerName__title{
            font-family: 'Courier New', Courier Prime , monospace;
            margin-left: 50px;
            display: inline-block;
            width: 0px;
            padding-left: 5px;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            animation: showName 8s infinite;
            transition: .2s ease-in-out;
                &::before{
                    content: "";
                    height: 30px; width: 3px;
                    background: $black;
                    animation-name: pleca;
                    animation-duration: 2s;
                    animation: pleca 1s infinite;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transition: .2s ease-in-out;
                }
                @media(max-width:$mobile){
                    margin-left: 20px;
                }
        }
        & .containerName__symbol{
            font-family: 'Belista';
            color: $clr-main;
            font-size: 24px;
        }
        & .containerName__pleca::before{
                @media(max-width: $mobile){
                    margin-left: 20px;
                }
        }
    }
    & .title__slogan{
        font-family: 'Courier New', Courier Prime , monospace;
        margin-top: 100px;
        color: $black-5a;
        transition: .2s ease-in-out;
            @media(max-width: $mobile){
                font-size: 14px;
                margin-top: 40px;
            }
    }
    & .title__arrowDown{
        width: 20px; height: 20px;position: relative;
        top: 20px;
        margin: 0 auto;
        display: block;
        animation: jumpArrow 1s infinite;
        cursor: pointer;
        transition: .2s ease-in-out;
            @media(max-width: $mobile){
                
            }
    }
    & .containerPicture{
        position: absolute;
        right: 0; top: 0;
        margin-top: -300px;
        margin-right: -200px;
        & .containerPicture__picture{
            width: 850px; height: 850px;
            border-radius: 50%;
            background: linear-gradient(45deg, $white-gradient 0%, $white 100%);
            box-shadow: inset 3px -2px 19px -7px $black-5a;
            @media(max-width: $screen){
                width: 750px; height: 750px;
                margin-top: -150px;
            }
            @media(max-width: $desktop){
                width: 650px; height: 650px;
                margin-top: -50px;
            }
                @media(max-width: $laptop){
                    width: 550px; height: 550px;
                    margin-top: 0px;
                }
                @media(max-width: $mobile){
                    width: 450px; height: 450px;
                    margin-top: 20px;
                }
        }
            @media(max-width: $mobile){
                margin-top: -100px;
            }
    }
}
@keyframes pleca{
    0%{
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes showName{
    0%{
        width: 3px;
    }
    18%{
        width: 265px;
    }
    70%{
        width: 265px;
    }
    90%{
        width: 3px;
    }
    100%{
        width: 3px;
    }
}
@keyframes jumpArrow{
    0%{
        top: 20px;
    }
    50%{
        top: 15px;
    }
    100%{
        top: 20px;
    }
}
.hiddenSection{
    clip-path: circle(0% at 0% 50%) !important;
    transition: .8s ease-in-out;
}