.containerSecond{
    width: 100%; height: 100%;
    max-width: 2500px;
    display: flex;
    position: absolute;
    z-index: 3;
    background: $clr-bg;
    clip-path: circle(0% at 0% 50%);
    transition: .8s ease-in-out;
    @media(max-width: $laptop){
        max-height: 600px;
    }
        @media(max-width: $mobile){
            display: inline-block;
        }
            & .containerSecond__row1 , & .containerSecond__row2{
            width: 50%;
                @media(max-width: $mobile){
                    width: 100%;
                }
        }
        & .containerSecond__row1{
            @media(max-width: $mobile ){
            }
            & .containerSecond__subtitle{
                margin-top: 50px;
                margin-left: 150px;
                color: $black;
                scroll-snap-align: center;
                @media(max-width: $laptop){
                    margin-left: 40px;
                }
                    @media(max-width: $mobile){
                        margin-left: 20px;
                    }
            }
        }
        & .containerSecond__brace{
            color: $clr-orange;
        }
        & .containerSecond__capsule{
            font-size: 16px;
            width: 350px; height: 90px;
            background: $white;
            border-radius: 30px;
            margin: 20px 200px;
            cursor: pointer;
            transition: .2s ease-in-out !important; 
            position: relative;
            overflow: hidden;
            box-shadow: 0px 7px 5px 0px $black-1a;
            @media(max-width: $screen){
                margin-left: 150px;
                width: 200px;
            }
            @media(max-width: $desktop){
                margin-left: 150px;
                width: 200px;
            }
            @media(max-width: $laptop){
                margin-left: 50px;
                width: 200px;
            }
                @media(max-width: $mobile){
                    width: 150px;
                    height: 70px;
                    margin: 10px;
                    display: inline-block;
                }
        }
        & .containerSecond__capsule:nth-child(2){
            margin-top: 100px;
                @media(max-width: $mobile){
                    margin-top: 50px;
                }
        }
        & .containerSecond__title{
            margin-left: 40px;
            font-size: 17px;
            line-height: 5.3;
            color: $black;
                @media(max-width: $mobile){
                    line-height: 4;
                    text-align: center;
                    margin-left: 0px;
                }
        }
        & .containerSecond__row2{
            max-width: 40%;
            margin-top: 200px;
            position: relative;
            transition: .2s ease-in-out;
                @media(max-width: $laptop){
                    width: 50%;
                }
                @media(max-width: $mobile){
                    width: 100%; max-width: 100%;
                    height: 400px;
                    display: block;
                    margin-top: 10px;
                }
                    & .containerSecond__paragraph{
                    position: absolute;
                    z-index: -3;
                    opacity: 0;
                    margin-top: 60px;
                    transition: .2s ease-in-out;
                    text-align: justify;
                        @media(max-width: $mobile){
                            width: 80%;
                            margin-left: 10%;
                        }
                }
                & .containerSecond__experience{
                    margin-right: 30px;
                    padding-left: 10px;
                    font-weight: 600;
                    border-left: 4px solid $clr-main;
                }
        }
        & .containerSecond__grid{
            display: grid;
            grid-template-columns: repeat(auto-fill, 100px);
            gap: 10px;
            margin-top: 60px;
            opacity: 0;
            justify-content: center;
                @media(max-width: $desktop){
                    grid-template-columns: repeat(auto-fill, 90px);
                    width: 100%;
                    gap: 5px;
                }
                @media(max-width: $mobile){
                    width: 90%;
                    margin-left: 5%;
                    margin-top: 0px;
                }
                & .containerSecond__title{
                    // grid-column-start: span 3;          
                }
                & .statusLearning{
                    background: $clr-learning !important;
                    fill: $black-5a;
                }
                & .containerSecond__box{
                    font-size: 16px;
                    width: 100px; height: 100px;
                    background: $white;
                    box-shadow: 0px 3px 5px 0px $black-1a;
                    border-radius: 10px;
                    cursor: pointer;
                    display: flex;
                    position: relative;
                    overflow: hidden;
                        &:hover{
                            .containerSecond__container{
                                margin-bottom: 0px;
                                transition: .2s ease-in-out;
                            }
                        }
                    & .containerSecond__container{
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        margin-bottom: -20px;
                        transition: .2s ease-in-out;
                    }
                        & .containerSecond__subtitle{
                            text-align: center;
                        }
                    @media(max-width: $desktop){
                        width: 90px; height: 90px;
                    }
                    @media(max-width: $tablet){
                        margin-top: 0px;
                        font-size: 15px;
                    }
                }
        }
        & .containerSecond__iconskill{
            width: 40%; height: 40%;
            margin: 0 auto;
            align-self: center;
        }
}
.containerSecond__capsule--active{
    background: $clr-main !important;
    width: 400px !important;
        & .containerSecond__title{
            color: $white;
        }
        @media(max-width: $screen){
            width: 270px !important;
        }
        @media(max-width: $desktop){
            width: 270px !important;
        }
        @media(max-width: $laptop){
            width: 270px !important;
        }
        @media(max-width: $mobile){
            width: 150px !important;
        }
}
.containerSecond__paragraph--active{
    opacity: 1 !important;
    z-index: 1 !important;
    margin-top: 0px !important;
    transition: .2s ease-in-out;
}
.containerSecond__grid--active{
    opacity: 1 !important;
    margin-top: 0px !important;
    transition: .2s ease-in-out;
}
.showSection2{
    clip-path: circle(100% at 50% 50%);
    transition: .8s ease-in-out;
    transition-property: clip-path;
}