.logo__casvaru{
    width: 60px; height: 60px;
    margin: 15px 10px;
        .st0{fill:#181C1F;}
        .st1{fill:#861846;}
    cursor: pointer;
    transition: .2s ease-out;
    border-right: 5px solid $white;
        &:hover{
            border-right: 5px solid $clr-main;
            width: 60px;
            transition: .2s ease-out;
        }
        @media(max-width: $laptop){
            margin: auto;
            display: block;
            margin-top: 10px;
        }
        @media (max-width: $tablet){
            margin: auto;
            margin-top: 10px;
            display: block;
        }
}