.menu{
    width: 70px;
        @media(max-width: $laptop){
            width: 180px;
            top: 0;
            right: 0;
            margin-right: 50px;
            margin-top: 10px;
            position: absolute;
        }
    @media(max-width:$mobile){
        position: fixed;
        width: 100%;
        height: 100%;
        background: $clr-bg;
        margin-top: 100vh;
        transition: .3s ease-in-out;
        display: none;
    }
    & .menu__container{
        width: 55px; height: 55px;
        margin-top: 10px;
        position: relative;
        @media(max-width: $laptop){
            display: inline-block;
        }
        @media(max-width: $mobile){
            margin-left: 30px;
            margin-top: 0px;
        }
            & .menu__box:nth-child(1){
                @media(max-width: $mobile){
                    margin-top: 100px;
                }
            }
            & .menu__box{
                padding: 5px;
                background: transparent;
                cursor: pointer;
                border-radius: 7px;
                left: 0;
                margin-left: 17px;
                transition: .3s ease;
                position: absolute;
                display: flex;
                    @media(max-width: $laptop){

                    }
                    &:hover{
                        padding: 8px;
                        transition: .1s ease;
                        background: $clr-mainhover;
                        margin-left: 14px;
                        margin-top: -3px;
                    }
                        & .menu__icon{
                            width: 25px; height: 25px;
                            display: block;
                            margin: auto;
                        }
            }
    }
    & .menu__text{
        text-align: center;
        width: 0px; height: 40px;
        background: $clr-mainhover;
        border-radius: 7px;
        margin-left: 70px;
        font-size: 20px;
        position: absolute;
        top: 0; margin-top: -3px;
        line-height: 40px;
        opacity: 0;
        z-index: -3 !important;
        transition: .2s ease-in-out;
        white-space: nowrap;
        overflow: hidden;
        @media(max-width: $laptop){
            display: none;
        }
            @media(max-width: $mobile){
                opacity: 1;
                position: relative;
                margin-top: 0px;
            }
    }
}
.menuSocial{
    position: absolute;
    bottom: 0;
    margin-bottom: 75px;
        @media(max-width: $laptop){
            left: 0;
            top: 0;
            display: flex;
            justify-content: space-between;
            width: 150px;
            height: 70px;
            margin-left: 100px;
            margin-top: 20px;
        }
        @media(max-width: $mobile){
            display: none;
        }

    & .menuSocial__icon{
        @media(max-width: $laptop){
            width: 35px; height: 35px;
        }
    }
        & .menuSocial__svg{
            width: 20px; height: 20px;
            margin: 5px 25px;
            cursor: pointer;
            fill: $black-5a;
                &:hover{
                    fill: $black;
                }
            @media(max-width: $laptop){
                margin: 6px;
            }
        }
}
.menu__mobile--active{
    margin-top: 0vh;
    transition: .3s ease-in-out;
}
.menuMobile{
    display: none;
    @media(max-width: $mobile){
        left: 0;
        margin-left: 100vh;
        display: block;
        width: 100%;
        height: 100%;
        background: $clr-bg;
        position: fixed;
        transition: .3s ease-in-out;
            & .menuMobile__aboutMe , & .menuMobile__projects , & .menuMobile__contactMe{
                width: 80%;
                margin-left: 10%;
                transition: .3s ease-in-out;
                border-radius: 20px;
                padding: 20px;
                box-shadow: 0px 3px 7px 0px $black-1a;
                margin-top: 20px;
                margin-bottom: 20px;
                cursor: pointer;
                &:hover{
                    background: $clr-mainhover !important;
                    transition: .3s ease-in-out;
                    }
            }
        & .menuMobile__aboutMe{
                margin-top: 50px;
        }
        & .menuMobile__text{
                width: 100%;
                display: inline-block;
                text-align: center;
                font-size: 16px;
        }
        & .menuMobile__icon{
                    position: absolute;
                    width: 25px; height: 25px;
                    display: inline-block;
                    margin-top: 0px;
        }
        & .menuMobile__arrowRight{
                width: 20px; height: 20px;
                display: inline-block;
                position: absolute;
                right: 0;
                margin-right: 70px;
        }
        & .menuMobile__social{
            width: 80%;
            margin-left: 10%;
            & .menuMobile__title{
                text-align: center;
                color: $black;
                font-size: 16px;
                padding: 20px;
                margin-top: 150px;
            }
            & .menuMobile__container{
                display: flex;
                justify-content: space-between;
            }
            & .menuMobile__iconSocial{
                width: 25px; height: 25px;
                display: inline-block;
                margin: 20px 10px;
            }
        }
    }
}
.menuMobile--active{
    margin-left: 0px;
    transition: .3s ease-in-out;
}
.menuMobile--hiden{
    margin-left: 100vh;

}
.hiddenText{
    opacity: 1 !important;
    width: 120px !important;
    transition: .2s ease-in-out;
}