body.dark{
    background: $clr-bgdark;
        &.dark .loaderScreen{
            background: $clr-bgdark;
        }
        &.dark .loaderScreen__circle::before{
            border: 2px solid $clr-purple;
            border-left: 2px solid $black-3a;
            border-top: 2px solid $black-3a;
        }
        &.dark .loaderScreen_logo{
            .st0{fill:$white;}
            .st1{fill:$white;}
        }
        &.dark .mainHeader{
            background: $clr-headerdark;
        }
        &.dark .logo__casvaru{
        border-right: 5px solid $clr-headerdark;
                &:hover{
                    border-right: 5px solid $clr-main;
                }
            .st0 , .st1{
                fill: $white;
            }
        }
        &.dark .btnHamburger__line{
            background: $white;
        }
        &.dark .menuSocial__svg{
            fill: $white-5a;
            &:hover{
                fill: $white;
            }
        }
        &.dark .menu{
            @media(max-width: $mobile){
                background: $bg-menu;
            }
        }
        &.dark .menuMobile{
            background: $clr-bgdark;
        }
        &.dark .menuMobile__arrowRight{
            fill: $white;
        }
        &.dark .menuMobile__icon{
            fill: $white;
        }
        &.dark .menuMobile__aboutMe , & .menuMobile__projects , & .menuMobile__contactMe{
            background: $black-8a;
            color: $white;
            fill: $white;
        }
        &.dark .menu__icon{
            fill: $white;
        }
        &.dark .switchDarkMode{
            border: 4px solid $clr-outlinedark;
        }
        &.dark .switchDarkMode.active::before{
            background: $clr-main;
            margin-left: 17px;
                @media(max-width: $laptop){
                    margin-left: 25px;
                }
                @media(max-width: $mobile) {
                        margin-left: 25px;
                }
        }
        &.dark .menu__text{
            color: $white;
        }
        &.dark .menuMobile__title{
                color: $white;
            }
        &.dark .menuMobile a{
            color: $white;
        }
        &.dark .containerModal__modal{
            background: $clr-headerdark;
        }
        &.dark .containerModal__close span{
            background: $white;
            transition: .2s ease-in-out;
        }
        &.dark .containerModal__mail , &.dark .containerModal__copy--icon{
            fill: $white;
            background: $black-5a !important;
        }
        &.dark .containerModal__copy--icon:hover{
            background: $clr-main !important;
        }
        &.dark .containerModal__close:hover span{
            background: $clr-main;
        }
        &.dark .containerModal__title , &.dark .containerModal__location{
            color: $white;
        }
        &.dark .containerModal__photo{
            background: $black-5a !important;
        }
        &.dark .title__profession{
            color: $clr-purple;
        }
        &.dark .containerName__title{
            color: $white;
        }
        &.dark .containerName__title:before{
            background: $white;
        }
        &.dark .title__slogan{
            color: $white-5a;
        }
        &.dark .title__arrowDown{
            fill: $white;
        }
        &.dark .containerPicture__picture{
            background: linear-gradient(45deg, $black-gradient 0%, $clr-main-gradient 100%);
        }
        &.dark .containerName__symbol{
            color: $white;
        }
        &.dark .containerFirst , &.dark .containerSecond , &.dark .containerThird{
            background: $clr-bgdark;
        }
        &.dark .containerSecond__subtitle , &.dark .containerThird__subtitle{
            color: $white;
        }
        &.dark .containerSecond__capsule{
            background: $black-8a;
        }
        &.dark .containerSecond__title{
            color: $white;
        }
        &.dark .containerSecond__paragraph{
            color: $white;
        } 
        &.dark .containerSecond__box{
            background: $black-8a;
        }
        &.dark  .containerSecond__subtitle{
            color: $white;
        }
        &.dark .boxBottons{
            background: $white;
            fill: $black;
        }
}