.switchDarkMode{
    width: 40px; height: 25px;
    border-radius: 15px;
    border: 4px solid $clr-black;
    cursor: pointer;
    position: absolute;
    left: 0; bottom: 0;
    right: unset;
    margin-left: 15px;
    margin-bottom: 30px;
    background: $clr-main;
        @media(max-width: $laptop){
            width: 60px; height: 35px;
            margin-bottom: 17px;
        }
        @media (max-width: $mobile){
            width: 60px; height: 35px;
            top: 0px; margin-top: 17px;
        }
        &::before{
            content: "";
            width: 17px; height: 17px;
            border-radius: 50px;
            background: $white;
            display: block;
            position: relative;
            left: 0; right: unset;
            z-index: 9;
            transition: .2s ease-in-out;
            @media(max-width: $laptop){
                width: 27px; height: 27px;
            }
            @media (max-width: $mobile){
                width: 27px; height: 27px;
            }
        }
        &.active{
            background: $white;
        }
        & span svg{
            width: 60%; height: 60%;
            position: absolute;
            top: 0;
        }
        & .switchDarkMode__sun{
            width: 75%; height: 75%;
            left: 0;
            margin-top: 2.3px;
            margin-left: -3px;
                @media (max-width: $mobile){
                    margin-left: -4px;
                }
        }
        & .switchDarkMode__moon{
            fill: $white;
            right: 0;
            margin-right: -1px;
            margin-top: 2.3px;
            @media (max-width: $mobile){
                margin-top: 4px;
            }
        }
}