$white:#FFFFFF;
$black:#000000;
$black-8a:#000000cc;
$black-5a:#00000080;
$black-3a:#0000004d;
$black-1a:#0000001a;
$white-5a:#FFFFFF80;
$white-gradient:#CECECE;
$black-gradient:#171A23;
$clr-main-gradient:#331F29;
$clr-outlinedark:#B9B9B8;
$bg-menu:#292929;
$clr-bg:#F6F6F6;
$clr-headerdark:#1E1E1E;
$clr-bgdark:#23272E;
$clr-red:#D5445E;
$clr-main:#871846;
$clr-mainhover:#87184666;
$clr-black:#191c1f;
$clr-orange:#F37A53;
$clr-purple:#D55FDE;
$clr-learning:rgb(181, 181, 181, .5);
$header-shadow:#00000013;
$clr-whatsapp:#21FF89;
$clr-whatsapp-hover:#1BD673;

$mobile:540px;
$tablet:700px;
$laptop:912px;
$desktop:1024px;
$desktop-min:1440px;
$desktop-mid:1920px;
$screen: 1250px;