* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.btnHamburger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 10px 20px 0px 20px;
  position: absolute;
  right: 0;
  display: none;
}
@media (max-width: 540px) {
  .btnHamburger {
    display: block;
  }
}
.btnHamburger .btnHamburger__line {
  width: 30px;
  height: 5px;
  background: #000000;
  position: absolute;
  margin: 3px 0px;
  border-radius: 5px;
  transform-origin: left;
}
.btnHamburger .btnHamburger__line:nth-child(1) {
  width: 20px;
  transition: 0.3s ease;
}
.btnHamburger .btnHamburger__line:nth-child(2) {
  background: #871846;
  top: 8px;
}
.btnHamburger .btnHamburger__line:nth-child(3) {
  width: 25px;
  top: 16px;
  transition: 0.3s ease;
}
.btnHamburger:hover .btnHamburger__line:nth-child(1), .btnHamburger:hover .btnHamburger__line:nth-child(3) {
  width: 30px;
  transition: 0.3s ease;
}

.toggleActiveLine1 {
  width: 30px !important;
  transform: rotate(45deg);
}

.toggleActiveLine2 {
  opacity: 0;
}

.toggleActiveLine3 {
  width: 30px !important;
  margin-top: 8px !important;
  transform: rotate(-45deg);
}

.logo__casvaru {
  width: 50px;
  height: 50px;
  margin: 15px 3px;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.logo__casvaru .st0 {
  fill: #181C1F;
}
.logo__casvaru .st1 {
  fill: #861846;
}
.logo__casvaru:hover {
  transition: 0.2s ease-out;
}
.logo__casvaru:hover .st0 {
  opacity: 0.5;
}
.logo__casvaru:hover .st1 {
  opacity: 0.5;
}
@media (max-width: 912px) {
  .logo__casvaru {
    margin-left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    margin-top: 2px;
  }
}
@media (max-width: 700px) {
  .logo__casvaru {
    margin-left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    margin-top: 0px;
  }
}

.menu {
  width: 70px;
}
@media (max-width: 912px) {
  .menu {
    width: 180px;
    top: 0;
    right: 0;
    margin-right: 50px;
    position: absolute;
  }
}
@media (max-width: 540px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #F6F6F6;
    margin-top: 100vh;
    transition: 0.3s ease-in-out;
    display: none;
  }
}
.menu .menu__container {
  width: 55px;
  height: 40px;
  margin-top: 10px;
  position: relative;
}
@media (max-width: 912px) {
  .menu .menu__container {
    display: inline-block;
  }
}
@media (max-width: 540px) {
  .menu .menu__container {
    margin-left: 30px;
    margin-top: 0px;
  }
}
@media (max-width: 540px) {
  .menu .menu__container .menu__box:nth-child(1) {
    margin-top: 100px;
  }
}
.menu .menu__container .menu__box {
  padding: 5px;
  background: transparent;
  cursor: pointer;
  border-radius: 7px;
  left: 0;
  margin-left: 13px;
  transition: 0.3s ease;
  position: absolute;
  display: flex;
}
.menu .menu__container .menu__box:hover {
  padding: 8px;
  transition: 0.1s ease;
  background: rgba(135, 24, 70, 0.4);
  background: #efefef;
  margin-left: 10px;
  margin-top: -3px;
  box-shadow: inset -8px 1px 5px #d7d7d7, inset -6px -6px 10px #fff;
}
.menu .menu__container .menu__box .menu__icon {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
}
.menu .menu__text {
  text-align: center;
  width: 0px;
  height: 40px;
  border-radius: 0px 7px 7px 0px;
  box-shadow: inset 5px 0px 5px rgba(0, 0, 0, 0.1019607843);
  margin-left: 55px;
  font-size: 20px;
  position: absolute;
  top: 0;
  margin-top: -3px;
  line-height: 40px;
  opacity: 0;
  z-index: -3 !important;
  transition: 0.2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 912px) {
  .menu .menu__text {
    display: none;
  }
}
@media (max-width: 540px) {
  .menu .menu__text {
    opacity: 1;
    position: relative;
    margin-top: 0px;
  }
}

.menuSocial {
  position: absolute;
  bottom: 0;
  margin-bottom: 75px;
}
@media (max-width: 912px) {
  .menuSocial {
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 30px;
    margin-left: 100px;
    margin-top: 10px;
  }
}
@media (max-width: 540px) {
  .menuSocial {
    display: none;
  }
}
@media (max-width: 912px) {
  .menuSocial .menuSocial__icon {
    width: 35px;
    height: 35px;
  }
}
.menuSocial .menuSocial__svg {
  width: 17px;
  height: 17px;
  margin: 5px 19px;
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.5019607843);
}
.menuSocial .menuSocial__svg:hover {
  fill: #000000;
}
@media (max-width: 912px) {
  .menuSocial .menuSocial__svg {
    margin: 6px;
  }
}

.menuMobile {
  clip-path: circle(0% at calc(100% - 50px) calc(0% + 30px));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F6F6F6;
  transition: 0.5s ease-in-out;
  z-index: 5;
}
@media (min-width: 700px) {
  .menuMobile {
    display: none;
  }
}
.menuMobile .menuMobile__aboutMe, .menuMobile .menuMobile__projects, .menuMobile .menuMobile__contactMe {
  width: 80%;
  margin-left: 10%;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1019607843);
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.menuMobile .menuMobile__aboutMe:hover, .menuMobile .menuMobile__projects:hover, .menuMobile .menuMobile__contactMe:hover {
  background: rgba(135, 24, 70, 0.4) !important;
  transition: 0.3s ease-in-out;
}
.menuMobile .menuMobile__aboutMe {
  margin-top: 90px;
}
.menuMobile .menuMobile__text {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}
.menuMobile .menuMobile__icon {
  position: absolute;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-top: 0px;
}
.menuMobile .menuMobile__arrowRight {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 70px;
}
.menuMobile .menuMobile__social {
  width: 80%;
  margin-left: 10%;
}
.menuMobile .menuMobile__social .menuMobile__title {
  text-align: center;
  color: #000000;
  font-size: 16px;
  padding: 20px;
  margin-top: 150px;
}
.menuMobile .menuMobile__social .menuMobile__container {
  display: flex;
  justify-content: space-between;
}
.menuMobile .menuMobile__social .menuMobile__iconSocial {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 20px 10px;
}

.menuMobile--active {
  clip-path: circle(100% at 50% 50%);
  transition: 0.7s ease-in-out;
}

.hiddenText {
  opacity: 1 !important;
  width: 120px !important;
  transition: 0.2s ease-in-out;
  background: #ececec !important;
  box-shadow: inset 4px 0px px #b1b1b1, inset -2px -2px 10px #fff;
}

.switchDarkMode {
  width: 40px;
  height: 25px;
  border-radius: 20px;
  border: 4px solid #191c1f;
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 0;
  right: unset;
  margin-left: 8px;
  margin-bottom: 30px;
  background: #871846;
}
@media (max-width: 912px) {
  .switchDarkMode {
    width: 56px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
}
@media (max-width: 540px) {
  .switchDarkMode {
    width: 55px;
    height: 30px;
    top: 0px;
    margin-top: 10px;
    margin-left: 10px;
  }
}
.switchDarkMode::before {
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50px;
  background: #FFFFFF;
  display: block;
  position: relative;
  left: 0;
  right: unset;
  z-index: 9;
  transition: 0.2s ease-in-out;
}
@media (max-width: 912px) {
  .switchDarkMode::before {
    width: 23px;
    height: 23px;
  }
}
@media (max-width: 540px) {
  .switchDarkMode::before {
    width: 22px;
    height: 22px;
  }
}
.switchDarkMode.active {
  background: #FFFFFF;
}
.switchDarkMode span svg {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 0;
}
.switchDarkMode .switchDarkMode__sun {
  width: 75%;
  height: 75%;
  left: 0;
  margin-top: 2.3px;
  margin-left: -3px;
}
@media (max-width: 540px) {
  .switchDarkMode .switchDarkMode__sun {
    margin-left: -4px;
  }
}
.switchDarkMode .switchDarkMode__moon {
  fill: #FFFFFF;
  right: 0;
  margin-right: -1px;
  margin-top: 2.3px;
}
@media (max-width: 912px) {
  .switchDarkMode .switchDarkMode__moon {
    margin-top: 4px;
  }
}
@media (max-width: 540px) {
  .switchDarkMode .switchDarkMode__moon {
    margin-top: 4px;
  }
}

.mainHeader {
  width: 90%;
  height: 50px;
  margin-top: 10px;
  position: fixed;
  margin-left: 5%;
  border-radius: 25px;
  transition: transform 0.3s ease-out;
  z-index: 10;
  box-shadow: -3px 3px 5px #b1b1b1, 5px -5px 10px rgba(255, 255, 255, 0.18);
  background: linear-gradient(225deg, #eee, #f4f4f4);
}
@media (min-width: 912px) {
  .mainHeader {
    width: 55px;
    height: 80%;
    max-height: 1000px;
    top: 0 !important;
    margin-top: 5%;
    margin-left: 10px;
    border-radius: 25px;
    box-shadow: -5px 5px 5px #b1b1b1, 8px -8px 10px rgba(255, 255, 255, 0.18);
  }
  .mainHeader:hover {
    transform: scale(1.03);
    transition: transform 0.4s ease-out;
  }
}

.headerSocial__social {
  width: 20px;
  height: 20px;
  margin: 5px 25px;
  cursor: pointer;
}
@media (max-width: 912px) {
  .headerSocial__social {
    display: flex;
  }
}

body.dark {
  background: #23272E;
}
body.dark.dark .loaderScreen {
  background: #23272E;
}
body.dark.dark .loaderScreen__circle::before {
  border: 2px solid #D55FDE;
  border-left: 2px solid rgba(0, 0, 0, 0.3019607843);
  border-top: 2px solid rgba(0, 0, 0, 0.3019607843);
}
body.dark.dark .loaderScreen_logo .st0 {
  fill: #FFFFFF;
}
body.dark.dark .loaderScreen_logo .st1 {
  fill: #FFFFFF;
}
body.dark.dark .mainHeader {
  background: linear-gradient(145deg, #141414, #242424);
  box-shadow: -7px 5px 10px #333333, 3px -3px 10px #1a1a1a;
}
body.dark.dark .logo__casvaru .st0, body.dark.dark .logo__casvaru .st1 {
  fill: #FFFFFF;
}
body.dark.dark .btnHamburger__line {
  background: #FFFFFF;
}
body.dark.dark .menuSocial__svg {
  fill: rgba(255, 255, 255, 0.5019607843);
}
body.dark.dark .menuSocial__svg:hover {
  fill: #FFFFFF;
}
@media (max-width: 540px) {
  body.dark.dark .menu {
    background: #292929;
  }
}
body.dark.dark .menuMobile {
  background: #23272E;
}
body.dark.dark .menuMobile__arrowRight {
  fill: #FFFFFF;
}
body.dark.dark .menuMobile__icon {
  fill: #FFFFFF;
}
body.dark.dark .menuMobile__aboutMe, body.dark .menuMobile__projects, body.dark .menuMobile__contactMe {
  background: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  fill: #FFFFFF;
}
body.dark.dark .menu__box:hover {
  background: #1e1e1e;
  box-shadow: inset -10px 0px 5px #292929;
}
body.dark.dark .menu__icon {
  fill: #FFFFFF;
}
body.dark.dark .hiddenText {
  background: #1e1e1e !important;
  box-shadow: inset 10px 0px 15px #292929;
}
body.dark.dark .switchDarkMode {
  border: 4px solid #B9B9B8;
}
body.dark.dark .switchDarkMode.active::before {
  background: #871846;
  margin-left: 17px;
}
@media (max-width: 912px) {
  body.dark.dark .switchDarkMode.active::before {
    margin-left: 25px;
  }
}
@media (max-width: 540px) {
  body.dark.dark .switchDarkMode.active::before {
    margin-left: 25px;
  }
}
body.dark.dark .menu__text {
  color: #FFFFFF;
}
body.dark.dark .menuMobile__title {
  color: #FFFFFF;
}
body.dark.dark .menuMobile a {
  color: #FFFFFF;
}
body.dark.dark .containerModal__modal {
  background: #1E1E1E;
}
body.dark.dark .containerModal__close span {
  background: #FFFFFF;
  transition: 0.2s ease-in-out;
}
body.dark.dark .containerModal__mail, body.dark.dark .containerModal__copy--icon {
  fill: #FFFFFF;
  background: rgba(0, 0, 0, 0.5019607843) !important;
}
body.dark.dark .containerModal__copy--icon:hover {
  background: #871846 !important;
}
body.dark.dark .containerModal__close:hover span {
  background: #871846;
}
body.dark.dark .containerModal__title, body.dark.dark .containerModal__location {
  color: #FFFFFF;
}
body.dark.dark .containerModal__photo {
  background: rgba(0, 0, 0, 0.5019607843) !important;
}
body.dark.dark .containerFirst__blog a {
  box-shadow: 3px 3px 5px #141414, -3px -3px 5px rgba(34, 34, 34, 0.3176470588);
  background: #F6F6F6;
  color: #000000;
}
body.dark.dark .containerFirst__blog a:hover {
  border: none;
  color: #FFFFFF;
  background: #871846;
  box-shadow: inset 20px 20px 60px #1e2127, inset -20px -20px 60px #282d35;
  border: 1px solid rgb(159, 159, 159);
}
body.dark.dark .containerName__title {
  color: #FFFFFF;
}
body.dark.dark .containerName__title:before {
  background: #FFFFFF;
}
body.dark.dark .title__slogan {
  color: rgba(255, 255, 255, 0.5019607843);
}
body.dark.dark .title__arrowDown {
  fill: #FFFFFF;
}
body.dark.dark .containerPicture__picture {
  background: linear-gradient(45deg, #171A23 0%, #331F29 100%);
}
body.dark.dark .containerName__symbol {
  color: #FFFFFF;
}
body.dark.dark .containerName__symbol svg {
  fill: #FFFFFF;
}
body.dark.dark .containerSecond__subtitle, body.dark.dark .containerThird__subtitle {
  color: #FFFFFF;
}
body.dark.dark .containerSecond__capsule {
  background: #181818;
  box-shadow: 3px 3px 5px #2c2c2c, -3px -3px 5px #1d1d1d;
}
body.dark.dark .containerSecond__capsule::before {
  color: #FFFFFF;
}
body.dark.dark .containerSecond__capsule:active {
  box-shadow: inset -5px -5px 5px #242424;
}
body.dark.dark .containerSecond__paragraph {
  color: #FFFFFF;
}
body.dark.dark .containerSecond__box {
  background: #181818;
  box-shadow: -3px 5px 5px #262626, 3px -3px 5px #1a1a1a;
}
body.dark.dark .containerSecond__subtitle {
  color: #FFFFFF;
}
body.dark.dark .boxBottons {
  background: #FFFFFF;
  fill: #000000;
}

.containerFirst {
  width: 100%;
  height: 100vh;
  max-width: 2500px;
  max-height: 1500px;
  overflow: hidden;
  position: relative;
}
.containerFirst .containerFirst__blog {
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.3s ease;
  margin-top: 40px;
  margin-right: 40px;
}
.containerFirst .containerFirst__blog:hover {
  transition: 0.3s ease;
  transform: scale(0.95);
}
@media (max-width: 912px) {
  .containerFirst .containerFirst__blog {
    bottom: 0 !important;
    top: auto;
    margin-bottom: 40px;
  }
}
.containerFirst .containerFirst__blog a {
  padding: 15px 30px;
  border-radius: 15px;
  transition: 0.3s ease;
  border: 1px solid transparent;
  background: #23272E;
  color: #FFFFFF;
  box-shadow: 5px 5px 5px rgba(190, 190, 190, 0.1450980392), -3px -3px 5px rgba(255, 255, 255, 0.1215686275);
}
.containerFirst .containerFirst__blog a:hover {
  background: #871846;
  transition: 0.5s ease;
  border: 1px solid #23272E;
  box-shadow: inset 20px 20px 60px #686868, inset -20px -20px 60px #7d7d7d;
  color: #FFFFFF;
}
@media (max-width: 700px) {
  .containerFirst .containerFirst__blog a {
    padding: 15px 25px;
  }
}
.containerFirst .title {
  position: absolute;
  margin-left: 150px;
  margin-top: 150px;
  width: 356px;
}
@media (max-width: 912px) {
  .containerFirst .title {
    margin-top: 550px;
    margin-left: 50px;
  }
}
@media (max-width: 540px) {
  .containerFirst .title {
    margin-left: 20px;
    margin-top: 0px;
    color: #FFFFFF;
  }
}
.containerFirst .title__profession {
  font-family: "Poppins";
  color: #D55FDE;
}
@media (max-width: 540px) {
  .containerFirst .title__profession {
    margin-top: 300px;
    font-size: 20px;
  }
}
.containerFirst .title__brace {
  color: #F37A53;
}
@media (max-width: 540px) {
  .containerFirst .title__brace {
    font-size: 20px;
  }
}
.containerFirst .containerName {
  position: relative;
}
.containerFirst .containerName .containerName__title {
  margin-left: 50px;
  display: inline-block;
  padding-left: 5px;
  font-size: 26px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  animation: showName 8s infinite;
}
.containerFirst .containerName .containerName__title::before {
  content: "";
  height: 30px;
  width: 3px;
  background: #000000;
  animation-name: pleca;
  animation-duration: 2s;
  animation: pleca 1s infinite;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.2s ease-in-out;
}
@media (max-width: 540px) {
  .containerFirst .containerName .containerName__title {
    margin-left: 20px;
  }
}
.containerFirst .containerName .containerName__symbol svg {
  height: 23px;
  width: 23px;
  margin-left: -7px;
  margin-top: 13px;
  position: absolute;
}
@media (max-width: 540px) {
  .containerFirst .containerName .containerName__symbol svg {
    fill: #FFFFFF;
  }
}
@media (max-width: 540px) {
  .containerFirst .containerName .containerName__pleca::before {
    margin-left: 20px;
    fill: #FFFFFF;
  }
}
.containerFirst .title__slogan {
  font-family: "Courier New", Courier Prime, monospace;
  margin-top: 100px;
  color: rgba(0, 0, 0, 0.5019607843);
  transition: 0.2s ease-in-out;
  white-space: nowrap;
}
@media (max-width: 540px) {
  .containerFirst .title__slogan {
    font-size: 14px;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.5019607843);
  }
}
.containerFirst .title__arrowDown {
  width: 20px;
  height: 20px;
  position: relative;
  top: 20px;
  margin: 0 auto;
  display: block;
  animation: jumpArrow 1s infinite;
  transition: 0.2s ease-in-out;
}
@media (max-width: 540px) {
  .containerFirst .title__arrowDown {
    fill: #FFFFFF;
  }
}
.containerFirst .containerPicture {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -300px;
  margin-right: -200px;
}
.containerFirst .containerPicture .containerPicture__picture {
  width: 850px;
  height: 850px;
  border-radius: 50%;
  background: linear-gradient(45deg, #CECECE 0%, #FFFFFF 100%);
  box-shadow: inset 3px -2px 19px -7px rgba(0, 0, 0, 0.5019607843);
}
@media (max-width: 1250px) {
  .containerFirst .containerPicture .containerPicture__picture {
    width: 750px;
    height: 750px;
    margin-top: -150px;
  }
}
@media (max-width: 1024px) {
  .containerFirst .containerPicture .containerPicture__picture {
    width: 650px;
    height: 650px;
    margin-top: -50px;
  }
}
@media (max-width: 912px) {
  .containerFirst .containerPicture .containerPicture__picture {
    width: 750px;
    height: 750px;
    margin-top: 100px;
  }
}
@media (max-width: 540px) {
  .containerFirst .containerPicture .containerPicture__picture {
    width: 450px;
    height: 450px;
    margin-top: 0px;
  }
}
@media (max-width: 540px) {
  .containerFirst .containerPicture {
    margin-top: -100px;
  }
}
.containerFirst .containerFirst__3d {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.containerFirst .containerFirst__3d iframe {
  width: 100%;
  height: calc(100vh + 80px);
  transform-origin: top;
}

@keyframes pleca {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showName {
  0% {
    width: 3px;
  }
  18% {
    width: 207px;
  }
  70% {
    width: 207px;
  }
  90% {
    width: 3px;
  }
  100% {
    width: 3px;
  }
}
@keyframes jumpArrow {
  0% {
    top: 20px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 20px;
  }
}
.containerSecond {
  width: 100%;
  height: 100vh;
  max-width: 2500px;
  max-height: 1500px;
  display: flex;
}
@media (max-width: 540px) {
  .containerSecond {
    display: inline-block;
  }
}
.containerSecond .containerSecond__row1, .containerSecond .containerSecond__row2 {
  width: 50%;
}
@media (max-width: 540px) {
  .containerSecond .containerSecond__row1, .containerSecond .containerSecond__row2 {
    width: 100%;
  }
}
.containerSecond .containerSecond__row1 .containerSecond__subtitle {
  margin-top: 60px;
  margin-left: 150px;
  color: #000000;
  scroll-snap-align: center;
}
@media (max-width: 912px) {
  .containerSecond .containerSecond__row1 .containerSecond__subtitle {
    margin-left: 40px;
  }
}
@media (max-width: 540px) {
  .containerSecond .containerSecond__row1 .containerSecond__subtitle {
    margin-left: 20px;
  }
}
.containerSecond .containerSecond__brace {
  color: #F37A53;
}
.containerSecond .containerSecond__capsule:nth-child(2) {
  margin-top: 100px;
}
@media (max-width: 540px) {
  .containerSecond .containerSecond__capsule:nth-child(2) {
    margin-top: 20px;
  }
}
.containerSecond .containerSecond__capsule:nth-child(2)::before {
  content: "Personal";
  position: absolute;
  color: #000000;
  top: 0;
  left: 0;
  z-index: 2;
  margin-left: 40px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 33px;
}
@media (max-width: 540px) {
  .containerSecond .containerSecond__capsule:nth-child(2)::before {
    margin-top: 13px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.containerSecond .containerSecond__capsule:nth-child(3)::before {
  content: "Experiencia";
  position: absolute;
  color: #000000;
  top: 0;
  left: 0;
  z-index: 2;
  margin-left: 40px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 33px;
}
@media (max-width: 540px) {
  .containerSecond .containerSecond__capsule:nth-child(3)::before {
    margin-top: 13px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.containerSecond .containerSecond__capsule:nth-child(4)::before {
  content: "Habilidades";
  position: absolute;
  color: #000000;
  top: 0;
  left: 0;
  z-index: 2;
  margin-left: 40px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 33px;
}
@media (max-width: 540px) {
  .containerSecond .containerSecond__capsule:nth-child(4)::before {
    margin-top: 13px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.containerSecond .containerSecond__capsule {
  font-size: 16px;
  width: 350px;
  height: 90px;
  background: #FFFFFF;
  border-radius: 30px;
  margin: 20px 200px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: linear-gradient(225deg, #f0f0f0, rgba(135, 24, 70, 0.0784313725));
  box-shadow: -4px 8px 20px #d0d0d0, 8px -8px 15px #fff;
}
.containerSecond .containerSecond__capsule::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #871846;
  transition: clip-path 0.2s ease-in;
  clip-path: circle(0% at 0% 50%);
}
.containerSecond .containerSecond__capsule:hover::after {
  clip-path: circle(15% at 0% 50%);
  background: #871846;
  transition: clip-path 0.3s ease-in-out;
}
.containerSecond .containerSecond__capsule:active {
  box-shadow: inset -5px -5px 5px #dadada;
}
@media (max-width: 1250px) {
  .containerSecond .containerSecond__capsule {
    margin-left: 150px;
    width: 200px;
  }
}
@media (max-width: 1024px) {
  .containerSecond .containerSecond__capsule {
    margin-left: 150px;
    width: 200px;
  }
}
@media (max-width: 912px) {
  .containerSecond .containerSecond__capsule {
    margin-left: 50px;
    width: 200px;
  }
}
@media (max-width: 540px) {
  .containerSecond .containerSecond__capsule {
    width: 150px;
    height: 50px;
    margin: 5px 15px;
    display: inline-block;
  }
}
.containerSecond .containerSecond__row2 {
  max-width: 40%;
  margin-top: 200px;
  position: relative;
}
@media (max-width: 912px) {
  .containerSecond .containerSecond__row2 {
    width: 50%;
  }
}
@media (max-width: 540px) {
  .containerSecond .containerSecond__row2 {
    width: 100%;
    max-width: 100%;
    height: 400px;
    display: block;
    margin-top: 10px;
  }
}
.containerSecond .containerSecond__row2 .containerSecond__paragraph {
  position: absolute;
  z-index: -3;
  opacity: 0;
  margin-top: 60px;
  text-align: justify;
}
@media (max-width: 540px) {
  .containerSecond .containerSecond__row2 .containerSecond__paragraph {
    width: 80%;
    margin-left: 10%;
  }
}
.containerSecond .containerSecond__row2 .containerSecond__experience {
  margin-right: 30px;
  padding-left: 10px;
  font-weight: 600;
  border-left: 4px solid #871846;
}
.containerSecond .containerSecond__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  gap: 10px;
  margin-top: 60px;
  opacity: 0;
  justify-content: center;
}
@media (max-width: 1024px) {
  .containerSecond .containerSecond__grid {
    grid-template-columns: repeat(auto-fill, 90px);
    width: 100%;
    gap: 5px;
  }
}
@media (max-width: 540px) {
  .containerSecond .containerSecond__grid {
    width: 90%;
    margin-left: 5%;
    margin-top: 0px;
  }
}
.containerSecond .containerSecond__grid .statusLearning {
  background: rgba(181, 181, 181, 0.5) !important;
  fill: rgba(0, 0, 0, 0.5019607843);
}
.containerSecond .containerSecond__grid .containerSecond__box {
  font-size: 16px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  position: relative;
  overflow: hidden;
  background: #e9e9e9;
}
.containerSecond .containerSecond__grid .containerSecond__box:hover .containerSecond__container {
  margin-bottom: 5px;
  opacity: 1;
}
.containerSecond .containerSecond__grid .containerSecond__box .containerSecond__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -20px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.containerSecond .containerSecond__grid .containerSecond__box .containerSecond__subtitle {
  text-align: center;
}
@media (max-width: 1024px) {
  .containerSecond .containerSecond__grid .containerSecond__box {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 700px) {
  .containerSecond .containerSecond__grid .containerSecond__box {
    margin-top: 0px;
    font-size: 15px;
  }
}
.containerSecond .containerSecond__iconskill {
  width: 40%;
  height: 40%;
  margin: 0 auto;
  align-self: center;
}

.containerSecond__capsule--active {
  width: 400px !important;
  transition: width 0.3s ease-in-out !important;
}
.containerSecond__capsule--active::after {
  clip-path: circle(100% at 50% 50%) !important;
  transition: clip-path 0.1s ease-in;
}
.containerSecond__capsule--active::before {
  color: #FFFFFF !important;
}
@media (max-width: 1250px) {
  .containerSecond__capsule--active {
    width: 270px !important;
  }
}
@media (max-width: 1024px) {
  .containerSecond__capsule--active {
    width: 270px !important;
  }
}
@media (max-width: 912px) {
  .containerSecond__capsule--active {
    width: 270px !important;
  }
}
@media (max-width: 540px) {
  .containerSecond__capsule--active {
    width: 160px !important;
  }
}

.containerSecond__paragraph--active {
  opacity: 1 !important;
  z-index: 1 !important;
  margin-top: 0px !important;
  transition: 0.2s ease-in-out;
}

.containerSecond__grid--active {
  opacity: 1 !important;
  margin-top: 0px !important;
  transition: 0.2s ease-in-out;
}

.boxActive {
  background: rgba(135, 24, 70, 0.4) !important;
}

.containerThird {
  width: 100%;
  height: 100vh;
  max-width: 2500px;
  max-height: 1500px;
  position: relative;
  overflow: hidden;
}
.containerThird .containerThird__subtitle {
  height: 50px;
  margin-top: 50px;
  margin-left: 150px;
  color: #000000;
}
@media (max-width: 912px) {
  .containerThird .containerThird__subtitle {
    margin-left: 40px;
  }
}
@media (max-width: 700px) {
  .containerThird .containerThird__subtitle {
    margin-left: 20px;
  }
}
.containerThird .containerThird__brace {
  color: #F37A53;
}
.containerThird .containerThird__container {
  position: relative;
  width: calc(100% - 70px);
  height: 100%;
  margin-left: 70px;
}
@media (max-width: 912px) {
  .containerThird .containerThird__container {
    margin-left: 0px;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .containerThird .containerThird__container {
    margin-left: 0px;
    width: 100%;
  }
}
.containerThird .galleryProjects {
  width: 100%;
  height: 100%;
  max-width: 2500px;
  max-height: 1000px;
  position: relative;
}
.containerThird .galleryProjects .galleryProjects__containerMaster:nth-child(2) {
  opacity: 0;
  z-index: 1;
}
.containerThird .galleryProjects .galleryProjects__containerMaster:nth-child(3) {
  opacity: 0;
  z-index: 1;
}
.containerThird .galleryProjects .galleryProjects__containerMaster {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 2500px;
  display: flex;
  float: left;
  transition: 0.2s ease;
  margin-top: 10px;
  justify-content: center;
}
.containerThird .galleryProjects .galleryProjects__containerMaster .galleryProjects__container {
  width: 75%;
  height: 75%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  float: left;
}
@media (max-width: 912px) {
  .containerThird .galleryProjects .galleryProjects__containerMaster .galleryProjects__container {
    gap: 10px;
  }
}
@media (max-width: 540px) {
  .containerThird .galleryProjects .galleryProjects__containerMaster .galleryProjects__container {
    gap: 5px;
  }
}
.containerThird .galleryProjects .galleryProjects__containerMaster .galleryProjects__container .galleryProjects__box {
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.5019607843);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.containerThird .galleryProjects .galleryProjects__containerMaster .galleryProjects__container .galleryProjects__box .galleryProjects__img, .containerThird .galleryProjects .galleryProjects__containerMaster .galleryProjects__container .galleryProjects__box .galleryProjects__webm {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease-in-out;
}
.containerThird .galleryProjects .galleryProjects__containerMaster .galleryProjects__container .galleryProjects__box .galleryProjects__img:hover, .containerThird .galleryProjects .galleryProjects__containerMaster .galleryProjects__container .galleryProjects__box .galleryProjects__webm:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
.containerThird .galleryProjects .galleryProjects__containerMaster .galleryProjects__container .galleryProjects__box:nth-child(1) {
  grid-column-start: span 2 !important;
}
@media (max-width: 540px) {
  .containerThird .galleryProjects .galleryProjects__containerMaster .galleryProjects__container .galleryProjects__box:nth-child(1) {
    grid-column-start: span 3 !important;
  }
}
.containerThird .galleryProjects .galleryProjects__containerMaster .galleryProjects__container .galleryProjects__box:nth-child(2) {
  grid-row-start: span 2 !important;
}
@media (max-width: 540px) {
  .containerThird .galleryProjects .galleryProjects__containerMaster .galleryProjects__container .galleryProjects__box:nth-child(2) {
    grid-column-start: span 3 !important;
  }
}
@media (max-width: 540px) {
  .containerThird .galleryProjects .galleryProjects__containerMaster .galleryProjects__container .galleryProjects__box:nth-child(3) {
    display: none;
  }
}
@media (max-width: 540px) {
  .containerThird .galleryProjects .galleryProjects__containerMaster .galleryProjects__container .galleryProjects__box:nth-child(4) {
    display: none;
  }
}
.containerThird .gallerySlider--active {
  opacity: 1 !important;
  z-index: 1 !important;
  margin-left: 0px;
  transition: 0.2s ease-in-out;
}
.containerThird .gallerySlider--mainActive {
  opacity: 1 !important;
  z-index: 2 !important;
  transition: 0.2s ease-in-out;
}
.containerThird .gallerySlider--noActive {
  opacity: 0 !important;
  transition: 0.1s ease-in-out;
}
.containerThird .boxBottons {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  bottom: 0;
  margin-bottom: 100px;
  background: rgba(0, 0, 0, 0.5019607843);
  fill: #FFFFFF;
  border-top-left-radius: 15px;
  z-index: 2;
}
@media (max-width: 540px) {
  .containerThird .boxBottons {
    width: 65px;
  }
}
.containerThird .boxBottons .boxBottons__arrowLeft, .containerThird .boxBottons .boxBottons__arrowRight {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  cursor: pointer;
  margin-left: 6px;
}
.containerThird .boxBottons .boxBottons__arrowLeft:hover, .containerThird .boxBottons .boxBottons__arrowRight:hover {
  fill: #871846;
}
@media (max-width: 540px) {
  .containerThird .boxBottons .boxBottons__arrowLeft, .containerThird .boxBottons .boxBottons__arrowRight {
    margin-left: 12px;
  }
}
.containerThird .boxBottons .boxBottons__arrowRight {
  margin-left: 17px;
}

.containerModal {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 2500px;
  background: rgba(0, 0, 0, 0.5019607843);
  z-index: -4;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
  font-size: 16px;
  clip-path: circle(0% at 50% 50%);
}
@media (max-width: 700px) {
  .containerModal {
    font-size: 10px;
  }
}
.containerModal .containerModal__modal {
  width: 37.5em;
  height: 20.3125em;
  margin: 0 auto;
  background: #F6F6F6;
  border-radius: 0.625em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.containerModal .containerModal__modal .containerModal__section1 {
  width: 100%;
}
.containerModal .containerModal__modal .containerModal__section1 .containerModal__photo {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1019607843);
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}
@media (min-width: 700px) {
  .containerModal .containerModal__modal .containerModal__section1 .containerModal__photo {
    margin-top: 45px;
    width: 230px;
    height: 230px;
  }
}
.containerModal .containerModal__modal .containerModal__section1 .containerModal__photo .containerModal__img {
  width: 100%;
  height: auto;
}
.containerModal .containerModal__modal .containerModal__section2 {
  display: inline-block;
}
.containerModal .containerModal__modal .containerModal__section2 .containerModal__title {
  margin-top: 5.625em;
}
.containerModal .containerModal__modal .containerModal__section2 .containerModal__mail {
  width: 13.75em;
  height: 2.1875em;
  border-radius: 0.5em;
  background: #FFFFFF;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1019607843);
  display: inline-block;
  transition: 0.3s ease-in-out;
}
.containerModal .containerModal__modal .containerModal__section2 .containerModal__copy {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}
.containerModal .containerModal__modal .containerModal__section2 .containerModal__copy::before {
  content: "Copiado";
  width: 70px;
  height: 33px;
  text-align: center;
  font-size: 12px;
  line-height: 35px;
  background: #871846;
  color: #FFFFFF;
  left: 0;
  top: 0;
  margin-top: 40px;
  margin-left: -18px;
  position: absolute;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1019607843);
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
  clip-path: polygon(50% 0%, 40% 20%, 0% 20%, 0% 100%, 100% 100%, 100% 20%, 100% 20%, 60% 20%);
}
@media (max-width: 540px) {
  .containerModal .containerModal__modal .containerModal__section2 .containerModal__copy::before {
    margin-top: 30px;
    margin-left: -23px;
  }
}
.containerModal .containerModal__modal .containerModal__section2 .containerModal__copy .containerModal__copy--icon {
  width: 2.1875em;
  height: 2.1875em;
  background: #FFFFFF;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1019607843);
  border-radius: 0.5em;
  display: inline-block;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  padding: 0.4375em;
}
.containerModal .containerModal__modal .containerModal__section2 .containerModal__copy .containerModal__copy--icon:hover {
  background: rgba(135, 24, 70, 0.4);
  transition: 0.1s ease-in-out;
}
.containerModal .containerModal__modal .containerModal__section2 .containerModal__location {
  font-weight: 500;
  margin-top: 0.625em;
  margin-bottom: 0.625em;
}
.containerModal .containerModal__modal .containerModal__section2 .containerModal__whatsapp {
  background: #21FF89;
  padding: 0.3125rem 3em;
  border-radius: 0.5em;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1019607843);
  text-align: center;
  line-height: 2.5;
  font-weight: 600;
  font-size: 1em;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
.containerModal .containerModal__modal .containerModal__section2 .containerModal__whatsapp:hover {
  background: #1BD673;
  transition: 0.3s ease-in-out;
}
.containerModal .containerModal__close {
  width: 1.875em;
  height: 1.875em;
  margin-left: 34.6875em;
  margin-top: 10px;
  position: absolute;
  cursor: pointer;
}
.containerModal .containerModal__close:hover span {
  background: #871846;
}
.containerModal .containerModal__close span {
  width: 0.3125em;
  height: 1.5625em;
  display: inline-block;
  border-radius: 0.3125em;
  background: #000000;
  position: absolute;
  margin-top: 0.1875em;
  margin-left: 0.8125em;
}
.containerModal .containerModal__close span:nth-child(1) {
  transform: rotate(45deg);
}
.containerModal .containerModal__close span:nth-child(2) {
  transform: rotate(-45deg);
}

.modalActive {
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 1;
  z-index: 100;
  transition: 0.5s ease-in-out;
  clip-path: circle(100% at 50% 50%);
}

.modalClose {
  opacity: 1;
}

.copiedSucess::before {
  opacity: 1 !important;
  height: 0px;
  transition: 0.3s ease-in-out;
  z-index: 2 !important;
}

a {
  color: #000000;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #871846;
  border-radius: 7px;
}

body {
  background: #F6F6F6;
  font-size: 16px;
  transition: 0.2s ease-out;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

#app {
  max-width: 2500px;
  max-height: 3500px;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
