---
import Layout from "../components/Layout.astro";
import style from '../styles/Archivos.module.css'
import DemoCard from "../components/Cards/demo/demoCard.astro"

const data = [
  {
    title: "ThreeJS model",
    url: "https://demo-three-js-two.vercel.app/",
    video: "./threejs-min.mp4",
    tags: ["Threejs", "Vite"],
    alt: "demo threejs con Vite"
  },
  {
    title: "Viewtransition API Books",
    url: "https://demo-view-transition-api.vercel.app/",
    video: "./viewTransition-min.mp4",
    tags: ["viewTransition", "Astro", "API"],
    alt: "demo view transition API New feature Chrome 115"
  },
  {
    title: "Text Reveal con el Mouse",
    url: "https://text-reveal-con-el-mouse.vercel.app/",
    video: "./textReveal.webm",
    tags: ["CSS", "Mask", "JavaScript"],
    alt: "demo view transition API New feature Chrome 115"
  }
]
---

<Layout>
  <section class={style.containerGrid}>
    {data.map(item => (
      <DemoCard {...item} />
    ))}
  </section>
</Layout>