---
import Layout from "../components/Layout.astro";
import style from '../styles/Archivos.module.css'
import DemoCard from "../components/Cards/demo/demoCard.astro"

// Define tus datos aquí
const data = [
  {
    title: "ThreeJS model",
    url: "https://demo-three-js-two.vercel.app/",
    video: "./threejs.webm",
    tags: ["threejs", "vite"],
    alt: "demo threejs con Vite"
  },
  {
    title: "Viewtransition API Books",
    url: "https://demo-view-transition-api.vercel.app/",
    video: "./viewTransition.webm",
    tags: ["viewTransition", "astro", "API"],
    alt: "demo view transition API New feature Chrome 115"
  }
]
---

<Layout>
  <section class={style.containerGrid}>
    {data.map(item => (
      <DemoCard {...item} />
    ))}
  </section>
</Layout>