---
import Layout from "../components/Layout.astro";
import style from '../styles/Archivos.module.css'
import DemoCard from "../components/Cards/demo/demoCard.astro"

const data = [
  {
    title: "ThreeJS model",
    url: "https://demo-three-js-two.vercel.app/",
    videoMp4: "./demos/threejs/threejs.mp4",
    videoWebm: "./demos/threejs/threejs.webm",
    tags: ["Threejs", "Vite"],
    alt: "demo threejs con Vite"
  },
  {
    title: "Viewtransition API Books",
    url: "https://demo-view-transition-api.vercel.app/",
    videoMp4: "./demos/viewTransition/viewTransition.mp4",
    videoWebm: "./demos/viewTransition/viewTransition.webm",
    tags: ["viewTransition", "Astro", "API"],
    alt: "demo view transition API New feature Chrome 115"
  },
  {
    title: "Text Reveal con el Mouse",
    url: "https://text-reveal-con-el-mouse.vercel.app/",
    videoMp4: "./demos/textReveal/textReveal.mp4",
    videoWebm: "./demos/textReveal/textReveal.webm",
    tags: ["CSS", "Mask", "JavaScript"],
    alt: "demo de Text reveal con mouse usando una máscara"
  }
]
---

<Layout>
  <section class={style.containerGrid}>
    {data.map(item => (
      <DemoCard {...item} />
    ))}
  </section>
</Layout>