.containerProject{
  width: 300px; height: 300px;
  overflow: hidden;
  filter: grayscale(100);
  transition: .2s ease;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  animation: skeletonLoading 2s infinite linear ;
  border: 0px solid transparent;
}
.containerProject:hover{
  filter: grayscale(0);
  transition: .3s ease;
  transform: scale(1.1);
  border: 3px solid var(--white);
}
.containerInfo{
  width: 100%;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0; left: 0;
  background: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 1);
  transition: .3s ease-in-out;
}
.containerProject:hover div{
  margin-bottom: -200px;
  transition: .3s ease-in-out;
}
.containerProject a img{
  height: 300px;
}
.containerInfo ul{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.containerInfo ul li{
  list-style: circle;
  font-size: .8rem;
  padding: 3px 10px;
  border-radius: 15px;
  border: 1px solid #000;
}
@keyframes skeletonLoading{
  0%{
    background: gray;
  }
  50%{
    background: rgb(82, 82, 82);
  }
  100%{
    background: gray;
  }
}