.containerSection{
  width: 100%; height: 100vh;
  max-height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  animation: gradientBackground 1s infinite linear;
  background: -webkit-linear-gradient(top, transparent 30px, var(--bgGray) 31px), 
              -webkit-linear-gradient(left, transparent 30px, var(--bgGray) 31px);
  background-size: 31px 31px;
  box-shadow: inset 0px 0px 150px 50px black;
  background-color: #ffffff09;
}
.title{
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name{
  font-size: 30px;
  font-weight: bold;
  background-image: linear-gradient(135deg, var(--yellow), var(--purple), var(--blue));
  animation: gradient-animation 4s infinite linear;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}
.containerName{
  height: 50px;
  overflow: hidden;
}
.textName{
  margin-top: auto;
  opacity: 0;
  animation: animationNameLoadingPage 1.5s .3s cubic-bezier(0, 1.05, 1, 1) both;
}
.titleDesigner{
  font-size: 22px;
  position: relative;
  width: 0ch;
  display: inline-block;
  overflow: hidden;
  animation: intervalHiddenTitleDesigner 6s 3s infinite steps(9);
  color: var(--yellow);
  font-family: monospace;
}
.titleDeveloper{
  font-size: 22px;
  animation: intervalHiddenTitleDeveloper 6s steps(13) infinite;
  display: inline-block;
  overflow: hidden;
  color: var(--blue);
  font-family: monospace;
}
.titleFrontend{
  position: relative;
  padding-left: 4px;
}
.titleFrontend::after{
  position: absolute;
  inset: 0;
  content: "";
  left: 0px;
  border-left: 3px solid;
  animation: pleca 1s infinite linear;
}
@keyframes animationNameLoadingPage{
  0%{
    margin-top: 100px;
  }
  50%{
    margin-top: 0px;
  }
  100%{
    opacity: 1;
  }
}
@keyframes intervalHiddenTitleDeveloper{
  0%{
    width: 0ch;
  }
  15%{
    width: 13ch;
  }
  30%{
    width: 13ch;
  }
  50%{
    width: 0ch;
  }
  100%{
    width: 0ch;
  }
}
@keyframes intervalHiddenTitleDesigner{
  0%{
    width: 0ch;
  }
  15%{
    width: 9ch;
  }
  30%{
    width: 9ch;
  }
  50%{
    width: 0ch;
  }
  100%{
    width: 0ch;
  }
}
@keyframes pleca{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes gradientBackground{
  to{
    background-position: 0px 0px;
  }
  from{
    background-position: 62px 62px;
  }
}
@keyframes gradient-animation{
  0% {
    background-image: linear-gradient(135deg, var(--yellow), var(--purple), var(--blue));
  }
  5% {
    background-image: linear-gradient(135deg, #FFDC3A, #9C0CFF, #1A80E6);
  }
  10% {
    background-image: linear-gradient(135deg, #FFC973, #8A17FF, #338BCC);
  }
  15% {
    background-image: linear-gradient(135deg, #FFB0AD, #7923FF, #4D97B3);
  }
  20% {
    background-image: linear-gradient(135deg, #FF99E6, #682FFF, #66A299);
  }
  25% {
    background-image: linear-gradient(135deg, #FF81FF, #573BFF, #80AD80);
  }
  30% {
    background-image: linear-gradient(135deg, #FF69FF, #4546FF, #99B866);
  }
  35% {
    background-image: linear-gradient(135deg, #FF50FF, #3452FF, #B3C34C);
  }
  40% {
    background-image: linear-gradient(135deg, #FF38FF, #235EFF, #CCCF33);
  }
  45% {
    background-image: linear-gradient(135deg, #FF1FFF, #1169FF, #E6DA1A);
  }
  50% {
    background-image: linear-gradient(135deg, #FF06FF, #0075FF, #FFE500);
  }
  55% {
    background-image: linear-gradient(135deg, #FF06FF, #1169FF, #E6DA1A);
  }
  60% {
    background-image: linear-gradient(135deg, #FF1FFF, #235EFF, #CCCF33);
  }
  65% {
    background-image: linear-gradient(135deg, #FF38FF, #3452FF, #B3C34C);
  }
  70% {
    background-image: linear-gradient(135deg, #FF50FF, #4546FF, #99B866);
  }
  75% {
    background-image: linear-gradient(135deg, #FF69FF, #573BFF, #80AD80);
  }
  80% {
    background-image: linear-gradient(135deg, #FF81FF, #682FFF, #66A299);
  }
  85% {
    background-image: linear-gradient(135deg, #FF99E6, #7923FF, #4D97B3);
  }
  90% {
    background-image: linear-gradient(135deg, #FFB0AD, #8A17FF, #338BCC);
  }
  95% {
    background-image: linear-gradient(135deg, #FFC973, #9C0CFF, #1A80E6);
  }
  100% {
    background-image: linear-gradient(135deg, #FFDC3A, #AD00FF, #0075FF);
  }
}
.slogan{
  font-weight: 200;
  font-size: 16px;
  text-align: center;
}
.containerSocial{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 60px;
}
.containerSocial svg{
  height: 22px !important;
  opacity: .6;
  transition: .2s ease-in-out;
}
.containerSocial a:hover svg{
  opacity: 1;
  transition: .1s ease-in-out;
}
.javascript{
  color: var(--colorJavaScript);
}
.containerBtn{
  display: flex;
}
.containerBtn:hover .logoLink svg{
  filter: invert(100);
  transition: .2s ease-in-out;
}
.logoLink svg{
  display: flex;
  padding: 0px;
  width: 20px; height: 20px;
  transition: .2s ease-in-out;
}
.containerMain{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10;
  flex-grow: 1;
  flex-wrap: wrap;
}
.containerCard{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 300;
  text-align: center;
  padding: 20px !important;
  gap: 10px;
}
.containerAbout{
  height: 500px; max-width: 75ch;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 20px 0px;
  flex-direction: column;
  text-align: center;
}
.containerCardAbout{
  margin: 50px 0px;
}
.containerNextLearning{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerNextLearning div{
  margin: 5px 0px;
}
.containerCard{
  width: 90%; max-width: 550px; height: auto;
  border: 1px solid var(--borderButton);
  background: #161616;
  transition: .2s ease-out;
  border-radius: 15px;
  padding: 20px 0px;
  transform: scale(.85);
}
.containerCard:hover{
  border: 1px solid var(--borderButton-hover);
  transition: .2s ease-in;
}
.cotainerCardNextLearing h3{
  padding: 3px 0px;
  font-size: 18px;
  color: #cacaca;
}
.containerSectionGeneral{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerCapsuleProject{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.capsuleProject{
  display: flex;
  justify-content: center;
  width: 300px; height: 300px;
  border-radius: 15px;
  overflow: hidden;
  opacity: .6;
}
.containerVideo{
  display: flex;
  justify-content: center;
}
.capsuleProject img{
  height: 100%; width: 100%;
  object-fit: cover;
}
.capsuleProject video{
  height: 100% !important;
  margin-left: 50%;
  transform: translateX(-50%);
}
.capsuleProject .infoProject{
  display: none;
}
.containerSectionExperience{
  width: 100%; max-width: 80ch;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerRoadMap , .containerTechnology{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0px;
}
.btnPrimary{
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.sectionTitle{
  display: flex;
  align-items: center;
  height: 200px;
  font-size: 28px;
}
.Bracket{
  color: var(--orange);
}
.containerTimeLine{
  border-left: 1px solid var(--gray);
  height: auto; width: 80%;
  position: relative;
}
.containerExperience{
  position: relative;
}
.sectionExperience::before{
  content: "";
  width: 15px; height: 15px;
  background: var(--white);
  border-radius: 50%;
  position: absolute;
  top: 0;
  margin-left: -28px;
  margin-top: 7px;
}
.sectionExperience{
  padding: 0px 20px;
  margin-bottom: 100px;
}
.containerFooter{
  height: 300px; width: 100%;
}
.containerCardBlog{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media(min-width:1024px){
  .title{
  font-size: 20px;
  }
  .containerName{
    height: 80px;
  }
  .name{
  font-size: 50px;
  }
  .containerAbout{
    font-size: 18px;
  }
  .containerAbout p{
    
    padding: 20px 0px;
  }
  .containerCapsuleProject{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
  .containerCapsuleProject .capsuleProject{
    max-width: 120px; height: 500px;
    flex-grow: 1;
    background: var(--white);
    border-radius: 99px;
    transition: .5s ease-in-out;
    position: relative;
    overflow: hidden;
    filter: grayscale(100);
  }
  .containerCapsuleProject .infoProject{
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0; left: 0;
    background: var(--black);
    color: var(--white);
    margin-bottom: -1000px;
    display: block;
    transition: .2s ease-in-out;
  }
  .infoProject h5{
    font-size: 1rem;
  }
  .infoProject p{
    font-size: .9rem;
    padding: 2px 0px 7px 0px;
  }
  .containerCapsuleProject .containerLinks{
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .containerCapsuleProject .capsuleProject a img{
    height: 500px; width: 100%;
    object-fit: cover;
  }
  .containerCapsuleProject div:hover .infoProject{
    margin-bottom: 0px;
    transition: .5s .2s ease-in-out;
  }
  .containerCapsuleProject .capsuleProject:hover{
    max-width: 800px !important;
    transition: .5s ease-in-out;
    border-radius: 40px;
    filter: grayscale(0) contrast(1);
    opacity: 1;
  }
  .cotainerCardNextLearing h3{
    font-size: 23px;
  }
}