---
import style from "../styles/Layout.module.css"
import Header from "./Header/Header"
import Footer from "./Footer"


interface Props{
  menuIsShow: boolean;
  footerIsShow: boolean;
}
const { menuIsShow = true, footerIsShow = true } = Astro.props;
---
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Carlos Segura</title>
    <meta
      name="description"
      content="Soy diseñador gráfico multimedial egresado de la Unigermana, enfocado en la creación de piezas gráficas y desarrollo web con un estilo minimalista para productos y/o servicios digitales."
    />
    <meta
      name="keywords"
      content="casvaru , desarrollador web , diseño grafico , diseñador grafico, mockup , diseño de mockup , modelado 3d , figma , colombia , bogotá , developer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="view-transition" content="same-origin" />
    <link
      rel="shortcut icon"
      href="./favicon.svg"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
    <meta name="view-transition" content="same-origin" />

    <meta name="twitter:site" content="@casvaru">
    <meta name="twitter:title" content="Carlos Segura">
    <meta name="twitter:description" content="Desarrollador y diseñador web Colombiano, anímate a ver mi trabajo.">
    <meta name="twitter:image" content="./public/twitterCard.png">
    <script>
      import Uxcursor from 'ux-cursor'
      Uxcursor({})
    </script>
    <!-- <script src="../Logic/cursor.js"></script> -->
  </head>
  <body id="body" class={style.container}>
    {menuIsShow ? <Header client:load /> : null }
    <main id="content">
      <slot />
    </main>
    {footerIsShow ? <Footer /> : null }
  </body>
</html>
