*{
 margin: 0; padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
 list-style: none;
}
body{
  background: #030303;
 color: white;
}
.container{
  width: 90%; height: 100vh;
  max-width: 1366px;
  margin: auto;
}