---
import style from './SectionBussines.module.css'

---
<section class={style.container}>
<picture>
  <img src="./logo-bv-white.png" alt="Logo de Empresa Bureau Veritas">
</picture>
<picture>
  <img src="./logo-jer-white.png" alt="Logo de Empresa Jer">
</picture>
</section>