.containerProjects{
  width: 100%; height: 1000px;
  display: flex;
  align-items: center;
  object-fit: fill;
  justify-content: center;
  position: relative;
  flex-direction: column-reverse;
}
.containerProjects::before{
  border-radius: 15px;
  content: "";
  width: 100%; height: auto;
  inset: 0;
  z-index: -10;
  position: absolute;
  background-repeat: no-repeat;
  opacity: 1;
}
.containerDescriptionProject{
  width: 100%; max-width: 500px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.titleProject{
  font-size: 20px;
}
.descriptionProject{
  font-size: 10px;
  padding: 20px 0px 20px 0px;
}
.containerLogos{
  display: flex;
  width: 180px;
  padding: 3px;
  gap: 5px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}
.containerLink{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0px;
  justify-content: center;
  align-items: center;
}
.containerImagePhone{
  display: flex;
  width: 100%;
  justify-content: center;
}
.image{
  view-transition-name: phoneImage;
}
.containerImagePhone img{
  height: 400px;
}
@media(min-width:1280px){
  .containerProjects{
    height: 700px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: initial;
  }
  .containerDescriptionProject{
    padding: 0px 40px;
    justify-content: center;
    width: 40%; height: 100%;
    text-align: left;
  }
  .descriptionProject{
    font-size: 13px;
  }
  .containerLink{
    justify-content: flex-start;
  }
  .containerImagePhone{
    display: flex;
    width: 50%;
    justify-content: center;
  }
  .containerImagePhone img{
    height: 500px;
  }
}