---
  import style from '../../../styles/Links.module.css'
  import {
    ArrowVertical,
    ArrowHorizontal
    } from '../../Icons'
---
<div class={style.containerIconsSupport}>
  <div class={style.containerArrowMenu}>
    <div>
      <ArrowVertical/>
      <span>Menú</span>
    </div>
  </div>
  <div class={style.containerArrowSwipe}>
    <div>
      <ArrowHorizontal/>
      <span>Swipe</span>
    </div>
  </div>
</div>